$darkBackground: rgb(30, 30, 30);
$textColor:rgb(173, 147, 147);
//login & regestaion
.link{
    text-decoration: none;
    color:rgb(173, 147, 147);
}
.App{
display: flex;
justify-content: center;
color:rgb(173, 147, 147);
font-weight: bold;
background: rgb(27, 26, 26);

}

.container-app{
    width: 1000px;
}

.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:$darkBackground;
    h1{
        color:rgb(199, 180, 180);
        font-size: 20px;
        margin-bottom: 20px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 19px;
        width:200px;
        background-color: rgb(199, 189, 189);
    }
    input{
        padding: 10px;
        border: none;
        background-color: rgb(199, 189, 189);
        color:white;
        font-weight: bold;
        border-bottom: 7px solid darkBackground;
    }
    button{
        padding:10px;
        border: none;
        background-color: rgb(173, 147, 147);
        color:white;
        cursor: pointer;
        margin-bottom: -5px;
    }
    p{
        font-size: 12px;
        color:rgb(177, 12, 12);
        text-align: center;
        margin-bottom: -5px;
    }
    span{
        display: flex;
        flex-direction: column;
        font-size: 13px;
        text-align: center;
    }

}
.navbar{
    
    .container-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        
        .logo{
            border-top-left-radius: 50% 50%;
        }
        .logo img{
            
            width: 120px;
            height: 90px;
            border-radius: 50%;
            overflow: hidden;
            background-color: darkBackground;
        }
        .links{
            display: flex;
            align-items: center;
            gap:10px;
            color: $textColor;
            font-weight: bold;
            h6{
                font-weight: 300;
                font-size: 16px;
            }
            span{
                cursor: pointer;
            }
            .write{
                background-color:pink;
                color:$textColor;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 300px;
                border: 1px solid white;
                //add a sexy hover effect right here observe
                &:hover{
                    color:pink;
                    background-color: white;
                    border: 1px solid $textColor
                }
            }
        }
    }

}
footer{
    padding: 20px;
    margin-top: 100px;
    background-color: $textColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
     height: 50px;
     border-radius: 50%;
    }
    span{
        color:black;
    }
    b{
        color:black
    }
}
.home{
    .posts{
        margin-top: 50px;
        display:flex;
        flex-direction: column;
        gap:150px;

        .post{
            display: flex;
            gap:100px;
            
            &:nth-child(2n+1){//posts are odd will be reverse
                //2n+2 will reverse the even elements aka posts
                flex-direction: row-reverse;
            }
        }
        .img{
            flex: 2;
            position: relative;
            z-index: 0;

            &::after{
                content: "";
              width: 100%;
              height: 100%;
              background-color: pink;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
                
            }
            img{
                max-height: 400px;
                width: 100%;
                object-fit: cover;
            }
        }
        .content{
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
        h1{
            font-size: 48px;
        }
        p{
            font-size: 18px;
        }
        button{
            color: $textColor;
            width: max-content;
            padding: 10px 20px;
            border:none;
            background-color:pink;
            cursor: pointer;
            border: 1xp solid $textColor;
            font-weight: bold;
            

            &:hover{
                border: 1px solid $textColor;
                background-color: white;
                color: $textColor;
                font-weight: bold;
            }
            
        }
        
    }
}

.single{
    display:flex;
    gap:50px;

    .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }

          .edit{
            display: flex;
            gap:5px;
          }
          button{
            width: 60px;
            height: 40px;
            cursor: pointer;
            border-radius: 50%;
            background-color: pink;

            &:hover{
                border: 1px solid $textColor;
                background-color: white;
                color: $textColor;
                font-weight: bold;
            }

          }
        }



    }
  
}
.titleArt{
    font-size: 42px;
}
.dialog{
    text-align: justify;
    line-height: 30px;
}
.menu{
    flex:2;
    display:flex;
    flex-direction: column;
    gap:25px;

    h1{
        font-size: 20px;
    }
    .post{
        display:flex;
        flex-direction: column;
        gap: 10px;
    }

    img{
        width: 100%;
        height: 200px;
         object-fit: cover;
    }


    button{
        color: $textColor;
        width: max-content;
        padding: 7px 15px;
        border:none;
        background-color:pink;
        cursor: pointer;
        border: 1xp solid $textColor;
        font-weight: bold;
        

        &:hover{
            border: 1px solid $textColor;
            background-color: white;
            color: $textColor;
            font-weight: bold;
        }
        
    }   
}
.add{
    margin-top: 20px;
    display: flex;
    gap:20px;

    .content{
        flex:5;
        display: flex;
        flex-direction: column;
        gap:20px;
    
    input{
        padding:10px;
        border: 1px solid pink;
        color:$textColor;
        font-size: 20px;
        font-weight: bold;
    }
    .editorContainer{
        height: 300px;
        width: 700px;
        overflow: hidden;
        border: 1px solid pink;

        .box_edit{
            height: 100%;
            border:none;
        }
       
    }
}


    .menu{
        flex:2;
        display: flex;
        flex-direction: column;
        gap:20px;

        .item_top{
            border: 1px solid pink;
            padding:10px;
            flex:1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 12px;

            .file{
                text-decoration: underline;
                cursor: pointer;
              }

            .buttons{
                display: flex;
                justify-content: space-between;
                margin-top: 17px;

                :first-child{
                    cursor: pointer;
                    background-color: white;
                    border: 1px solid pink;
                    padding: 3px 5px;
                }
                :last-child{
                    cursor: pointer;
                    border: 1px solid white;
                    padding: 3px 5px;
                }
            }
        }
        .item{
            border: 1px solid pink;
            padding: 10px;
            

            h1{
                font-size: 20px;
            }
        }
    }
}